#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* background-color: lightgray; */
  width:100%;

}

.sidebar-wrapper {
  display: flex;
  justify-content: flex-start;
  height: 100%;
}


.sidebar-footer {
  text-align: center;
  padding: 20px 5px;
}

/* .backgroundlogin{
  background-color:;
} */
body{
  width:100%;
  
}
    
.mylogin{
  width:100%;
  background-image: url('../Images/homebanner.jpg');
  height: 100vh;
}


